# PlatformIO
.pio/
.clang_complete
.gcc-flags.json
*.hex
*.bin
*.elf

# VS Code
.vscode/
*.code-workspace

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
Thumbs.db
db
Desktop.ini
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Secrets & Local Configurations
.env
.env.local
.env.*.local
secrets.h
config_local.h